# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Dependencies
node_modules/
vendor/

# Build
/frontend/dist/

# Laravel
/backend/storage/*.key
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitignore

# Logs
*.log
