# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier

# Env
.env
.env.local

# Dependencies
node_modules/
vendor/

# Build
/frontend/dist/
/extension/config.js
/extension/debug.js
/extension/manifest.json
/extension/*.zip

# Laravel
/backend/storage/*.key
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitignore

# Logs
*.log
